## export regular function names
export(auc, chop, export, flux, fluxx, gflux, gpp, inspect, lips, reco)

## export regular functions with dot names
export(append.df, auc.mc, flux.calib, flux.odae, flux.conv, mf.flux)

## import from others
importFrom(caTools, combs)

## Registration of S3 methods
import(stats)
import(graphics)
# plot: graphics
S3method(plot, fluss)
S3method(plot, flux)
S3method(plot, fluxes)
S3method(plot, fluxx)
S3method(plot, fluxxes)
S3method(plot, gpp)
S3method(plot, reco)
# print: base
S3method(print, fluss)
S3method(print, fluxes)
S3method(print, fluxxes)