## export regular function names
export(auc, checkm, chop, export, flux, fluxx, gflux, gpp, gpp2, inspect, lips, modjust, reco, tbl8)

## export regular functions with dot names
export(append.df, auc.mc, budget.gpp, budget.reco, budget.ie, flux.calib, flux.odae, flux.conv, gpp.bulk, mf.flux, reco.bulk, round.POSIXlt)

## import from others
importFrom(caTools, combs, runsd)

## Registration of S3 methods
import(stats)
import(graphics)
# plot: graphics
S3method(plot, fluss)
S3method(plot, flux)
S3method(plot, fluxes)
S3method(plot, fluxx)
S3method(plot, fluxxes)
S3method(plot, gpp)
S3method(plot, reco)
# print: base
S3method(print, fluss)
S3method(print, fluxes)
S3method(print, fluxxes)
# round: base
S3method(round, POSIXlt)
S3method(round, POSIXct)

importFrom("grDevices", "boxplot.stats", "dev.new", "dev.off",
           "devAskNewPage", "pdf")
importFrom("utils", "combn", "write.table")
